BasedOnStyle: WebKit

PointerAlignment: Right
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false 
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
NamespaceIndentation: Inner
AllowShortCaseLabelsOnASingleLine: true
SpaceAfterCStyleCast: true