[submodule "Source/3rdParty/stb"]
	path = Source/3rdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Source/3rdParty/tlsf"]
	path = Source/3rdParty/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "Source/3rdParty/mimalloc"]
	path = Source/3rdParty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "Source/3rdParty/imgui"]
	path = Source/3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Source/3rdParty/SDL"]
	path = Source/3rdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
